.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}
.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.contact__option {
    background: var(--color-bg-varient);
    padding: 1.3rem;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-varient);
}

.contact__option span {
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

.contact__option a {
    margin-top: 0.85rem;
    display: inline-block;
    font-size: .9rem;
}

/* ===================form========================================= */

form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-top: auto;
    margin-bottom: auto;
}

input, textarea {
    width: 100%;
    padding: 1.1rem;
    border-radius: 0.5rem;
    background: var(--color-bg-varient);
    border: 1px solid var(--color-primary-varient);
    resize: none;
    color: var(--color-white);
}

input::placeholder,textarea::placeholder {
    color: var(--color-light);
}

/* ==========================Media Query(medium devices)=====================*/
@media screen and (max-width:1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* ==========================Media Query(small devices)=====================*/
@media screen and (max-width: 600px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        width: var(--container-width-sm);
    }
}